* {
  color: black;
  font-weight: 700;
}

.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: center;
  font-size: larger;
}
ion-toolbar {
  --background: white;
}

ion-item {
  --bacground: white;
}

ion-card {
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: black;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }

  ion-icon {
    font-size: 700%;
    opacity: 0.5;
  }

  ion-button {
    width: 70%;
  }
}
