<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="voltar">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Cria Conta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="conteudo">


    <img id="imagem" src="assets/BestRide.png" />

    <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">

      <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="pass" [type]=" showPass ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle" (click)="togglePass()"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Repita Password</ion-label>
          <ion-input formControlName="passRepeat" [type]=" showPass2 ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle2" (click)="togglePass2()"></ion-icon>
        </ion-item>
      </ion-card>


      <ion-button [disabled]="!registrationForm.valid" color="primary" expand="block" type="submit">Criar Conta
      </ion-button>

    </form>
  </ion-list>

</ion-content>