<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="voltar">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;" translate [translateParams]="{ lang: language }">create_account.tabName
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="conteudo">


    <img id="imagem" src="assets/BestRide.png" />

    <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">

      <ion-card>
        <ion-item>
          <ion-label>Primeiro Nome</ion-label>
          <ion-input formControlName="f_nome" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Ultimo Nome</ion-label>
          <ion-input formControlName="l_nome" required></ion-input>
        </ion-item>
      </ion-card>


      <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="pass" [type]=" showPass ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle" (click)="togglePass()"></ion-icon>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label translate [translateParams]="{ lang: language }">create_account.text</ion-label>
          <ion-input formControlName="passRepeat" [type]=" showPass2 ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle2" (click)="togglePass2()"></ion-icon>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="passwordRepeat.hasError(error.type) && (passwordRepeat.dirty || passwordRepeat.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-card>


      <ion-button [disabled]="!registrationForm.valid" color="primary" expand="block" type="submit" translate
        [translateParams]="{ lang: language }">create_account.button_text
      </ion-button>

    </form>
  </ion-list>

</ion-content>