<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="voltar">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;" translate [translateParams]="{ lang: language }">create_account.tabName
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="conteudo">


    <img id="imagem" src="assets/BestRide.png" />

    <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">

      <ion-card>
        <ion-item>
          <ion-label>Primeiro Nome</ion-label>
          <ion-input formControlName="f_nome" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Ultimo Nome</ion-label>
          <ion-input formControlName="l_nome" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Data. Nasc</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="2019-02-12">
            <!-- falta obter este campo -->
          </ion-datetime>
        </ion-item>
      </ion-card>


      <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="pass" [type]=" showPass ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle" (click)="togglePass()"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label translate [translateParams]="{ lang: language }">create_account.text</ion-label>
          <ion-input formControlName="passRepeat" [type]=" showPass2 ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle2" (click)="togglePass2()"></ion-icon>
        </ion-item>
      </ion-card>


      <ion-button [disabled]="!registrationForm.valid" color="primary" expand="block" type="submit" translate
        [translateParams]="{ lang: language }">create_account.button_text
      </ion-button>

    </form>
  </ion-list>

</ion-content>