<ion-header>
  <ion-toolbar>
    <ion-title translate [translateParams]="{ lang: language }">definicoes.tabName</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>


    <ion-card-content>

      <ion-item>
        <ion-label translate [translateParams]="{ lang: language }">definicoes.option_text</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='mudarLinguagem()'
          [placeholder]='"tab1.languageChangePlaceholder" | translate'>
          <ion-select-option value='pt'>Portugues</ion-select-option>
          <ion-select-option value='en'>Ingles</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-tabs #menuTab id="menuTab">
    <ion-tab-bar slot="bottom">

      <ion-tab-button (click)="menu()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="definicoes">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>