<ion-header>
  <ion-toolbar>
    <div id="content-menu">
      <img src="assets/BestRideLogo.png" />
    </div>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="closeModal()">
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">

    <svg height="100%" width="100%">
      <circle cx="0" cy="0" r="220" fill="#00adff" />
      <circle cx="0" cy="calc(100%)" r="210" fill="#58a600" />
      <circle cx="calc(100%)" cy="calc(50%)" r="210" fill="#ff3f00" />
    </svg>

    <div class="content">

      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="form">
              <ion-card>
                <form [formGroup]="registrationForm" (ngSubmit)="submit()">

                  <ion-card-header>
                    <ion-card-title>
                      <ion-label>{{'Comment This Trip!' | customTranslate | async}}</ion-label>
                    </ion-card-title>
                  </ion-card-header>

                  <ion-row>
                    <ion-col>
                      <ion-range snaps color="danger" pin min="0" max="10" color="danger" formControlName="rating">
                        <ion-icon name="thumbs-down" slot="start" size="small"></ion-icon>
                        <ion-icon name="thumbs-up" slot="end" size="small"></ion-icon>
                      </ion-range>
                    </ion-col>
                  </ion-row>


                  <ion-row>
                    <ion-col>
                      <ion-textarea placeholder="" formControlName="comment" type="text" required>
                      </ion-textarea>
                    </ion-col>
                  </ion-row>

                  <ion-button color="warning" [disabled]="!registrationForm.valid" id="btn_login" type="submit" block>
                    {{'Post Commentary' | customTranslate | async}}
                  </ion-button>
                </form>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <div *ngIf="comments.length==0">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-icon name="warning-sharp" size="large"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                  <ion-text color="secundary">
                    {{'There are no comments posted for this tour' | customTranslate | async}}
                  </ion-text>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div scrollY="true" class="botoes" *ngIf="comments.length > 0">
        <ion-list *ngFor="let comment of comments">
          <div>
            <ion-card-header>
              <ion-card-subtitle>
                {{"" + comment.author.name | uppercase}}
                <br>
                {{comment.rating}}
                <ion-icon name="star-sharp" size="small"></ion-icon>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{comment.comment}}
            </ion-card-content>
          </div>
        </ion-list>
      </div>


    </div>
  </div>

</ion-content>