<ion-header>
  <ion-toolbar>
    <div id="content-menu">
      <img src="assets/BestRideSplash.png" />
      <ion-title id="title">BestRide
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <form (ngSubmit)="submit()">
      <ion-card-header>
        <input placeholder="Rating" type="number" max="5" min="1" [(ngModel)]="form.rating" name="rating" (ngModelChange)="progress = convertToNumber($event)">
      </ion-card-header>
      <ion-card-content>
        <ion-textarea placeholder="Comment here..." [(ngModel)]="form.comment" name="comment"></ion-textarea>
        <button ion-button type="submit" block>{{ 'Lisbon' | customTranslate | async} Problema de tradução</button>
      </ion-card-content>
    </form>
  </div>
  <!--
    
    
  </div>-->
  
  <div scrollY="true">
    <ion-list *ngFor="let comment of comments">
      <ion-card-header>
        <ion-card-subtitle> 
          "" + comment.user.id
          <br>
          "" + comment.pontuation
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ comment.comment | customTranslate |async}}
      </ion-card-content>
    </ion-list>
  </div>

</ion-content>
