#map {
  height: 50%;
}

.botoes {
  padding-top: 5%;
  overflow-x: auto;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
