<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Best Ride
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
    <div scrollY="true" class="botoes">
      <ion-card (click)="cir1()">
        <ion-card-header>
          <ion-card-subtitle>Circuito 1</ion-card-subtitle>
          <ion-card-title>Terreiro do Paço - Jerónimos</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Neste roteiro pode ver todas as maravilhas de Lisboa entre o Terreiro do Paço
          e o Mosteiro dos Jerónimos.
        </ion-card-content>
      </ion-card>

      <ion-card  (click)="cir2()">
        <ion-card-header>
          <ion-card-subtitle>Circuito 2</ion-card-subtitle>
          <ion-card-title>Terreiro do Paço - Sé</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Neste roteiro pode ver todas as maravilhas de Lisboa entre o Terreiro do Paço
          e a Sé de Lisboa.
        </ion-card-content>
      </ion-card>
    </div>

    <br>

    <div #map id="map"></div>

  </div>
</ion-content>