<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Best Ride
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end">
      <ion-badge color="secondary">{{ badge_points}}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="estilo">
    <div class="menu">
      <div scrollY="true" class="botoes">
        <ion-card *ngFor="let roteiro of roteiros" (click)="showRoteiro(roteiro)">
          <ion-card-header>
            <ion-card-subtitle>
              <p style="font-size: large;">Duração: {{roteiro.duracao}} h | Preco: {{roteiro.preco}} €</p>
            </ion-card-subtitle>
            <ion-card-title>{{roteiro.titulo}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{roteiro.detalhes}}
          </ion-card-content>

          <ion-button expand="full" color="secondary">Reservar Agora</ion-button>
        </ion-card>
      </div>
      <br>
    </div>
  </div>
</ion-content>