<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Best Ride
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
    <div class="botoes">
      <ion-fab-button color="primary" (click)="cir1()">
        <ion-icon name="map"></ion-icon>
        <label>Circuito 1</label>
      </ion-fab-button>

      <ion-fab-button color="secondary" (click)="cir2()">
        <ion-icon name="map"></ion-icon>
        <label>Circuito 2</label>
      </ion-fab-button>
    </div>

    <br>

    <div #map id="map"></div>

  </div>
</ion-content>