#map {
  height: 50%;
}

.botoes {
  padding-top: 5%;
  overflow-x: auto;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.estilo {
  background-color: rgb(35, 35, 107);
  border-radius: 0px 50px 50px 0px;
}
