<ion-app>
  <ion-menu menuId="main-menu" contentId="main" type="reveal" swipeGesture="false">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/icon/favicon.png">
        <ion-label>
          <h2>User</h2>
          <p>Best Ride</p>
        </ion-label>
      </div>

      <ion-list class="menu-items" lines="none">
        <ion-item (click)="goDefinitions()">
          <ion-icon name="settings-outline"></ion-icon> Definições
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>