<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Dados Pessoais</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <!--<ion-avatar slot="start">
            <img src=""/><!-- imagem de Perfil
          </ion-avatar> -->
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label>
        <h1 id="nome_completo"></h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <h1>Email</h1>
        <ion-input id="email" readonly="true"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        <h2>Telemóvel</h2>
        <ion-input id="phone" inputmode="numeric" readonly="true">988122453</ion-input>
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="alterarPass()">
      <ion-icon name="create-outline"></ion-icon>
      Alterar Password
    </ion-button>
  </ion-list>
</ion-content>