<ion-header>
  <ion-toolbar>
    <ion-title translate [translateParams]="{ lang: language }" style="text-align: center;">personal_data_page.tab
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <!--<ion-avatar slot="start">
            <img src=""/><!-- imagem de Perfil
          </ion-avatar> -->
      <ion-avatar slot="start">
      </ion-avatar>
      <ion-label>
        <h1 id="nome_completo"></h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="name" translate [translateParams]="{ lang: language }">personal_data_page.user</h1>
        <ion-input id="email2" [(ngModel)]="name" value="{{name}}"></ion-input>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="city" translate [translateParams]="{ lang: language }">personal_data_page.city</h1>
        <ion-input id="email" [(ngModel)]="city" value="{{city}}"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <h1 id="city" translate [translateParams]="{ lang: language }">personal_data_page.email</h1>
        <ion-input id="email" [(ngModel)]="email" value="{{email}}"></ion-input>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="email" translate [translateParams]="{ lang: language }">personal_data_page.phone</h1>
        <ion-input id="email" [(ngModel)]="phone" value="{{phone}}"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 translate [translateParams]="{ lang: language }">personal_data_page.address</h1>
        <ion-input id="email" [(ngModel)]="address" value="{{address}}"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="car-sport-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 translate [translateParams]="{ lang: language }">personal_data_page.postal</h1>
        <ion-input id="email" [(ngModel)]="postal" value="{{postal}}" readonly="true"></ion-input>
      </ion-label>
    </ion-item>


    <ion-button color="secondary" expand="block" (click)="alterarCampos()">
      <ion-icon name="create-outline"></ion-icon>
      <h4 translate [translateParams]="{ lang: language }">personal_data_page.button_update</h4>
    </ion-button>


    <ion-button expand="block" (click)="alterarPass()">
      <ion-icon name="create-outline"></ion-icon>
      <h4 translate [translateParams]="{ lang: language }">personal_data_page.button_change_pass</h4>
    </ion-button>
  </ion-list>
</ion-content>