<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="conteudo">
    <img id="imagem" src="assets/BestRide.png" />

    <form class="form" [formGroup]="registrationForm" (ngSubmit)="submeter_login()">


      <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" [type]=" showPass ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle" (click)="togglePass()"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-button color="primary" expand="full" type="submit">Login</ion-button>

    </form>

    <div>
      <h6 style="text-align: center;" (click)="navegar()">
        {{'No Account? Create a account now!' | customTranslate | async}}</h6>
      <h6 style="text-align: center;" (click)="recuperarConta()">
        {{'Recover your account' | customTranslate | async}}</h6>
    </div>

    <ion-button shape="round" color="tertiary" (click)="login()">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button shape="round" color="warning" (click)="googleSignup()">
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>

  </ion-list>
</ion-content>