<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list class="conteudo">
    <img id="imagem" src="assets/BestRide.png" />

    <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit()">

      <ion-card>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" [type]=" showPass ? 'text' : 'password'" required></ion-input>
          <ion-icon slot="end" [name]="passwordIconToggle" (click)="togglePass()"></ion-icon>
        </ion-item>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-card>

      <ion-button [disabled]="!registrationForm.valid" color="primary" expand="block" type="submit">Login</ion-button>

    </form>

    <div>
      <h6 style="text-align: center;" translate [translateParams]="{ lang: language }" (click)="navegar()">
        login.no_account</h6>
      <h6 style="text-align: center;" translate [translateParams]="{ lang: language }" (click)="recuperarConta()">
        login.recover_account</h6>
    </div>

    <ion-button shape="round" color="tertiary" (click)="login()">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button shape="round" color="warning" (click)="googleSignup()">
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>

  </ion-list>
</ion-content>