<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'App Definitions' | customTranslate | async}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>


    <ion-card-content>

      <ion-item>
        <ion-label> {{'Language of the app?' | customTranslate | async}}</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='changeLanguage()'
          [placeholder]='"definicoes.languageChangePlaceholder" | translate'>
          <ion-select-option value='pt'>Portugues</ion-select-option>
          <ion-select-option value='en'>Ingles</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>