<ion-header>
  <ion-toolbar>
    <div class="header">
      <img id="img" src="assets/BestRideSplash.png" />
      <ion-title id="headerTitle" style="text-align: center;">BestRide
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>


    <ion-card-content>

      <ion-item>
        <ion-label> {{'Language of the app?' | customTranslate | async}}</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='changeLanguage()'
          [placeholder]='"definicoes.languageChangePlaceholder" | translate'>
          <ion-select-option value='pt'>{{'Portuguese' | customTranslate | async}}</ion-select-option>
          <ion-select-option value='en'>{{'English' | customTranslate | async}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>