<ion-header>
  <ion-toolbar>
    <div id="content-menu">
      <img src="assets/BestRideSplash.png" />
      <ion-title id="title">BestRide
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="-30" cy="50" r="230" fill="#ffba00" />
      <circle cx="360" cy="0" r="120" fill="#58a600" />
      <circle cx="360" cy="600" r="300" fill="#00adff" />
    </svg>
    <div class="content">

      <ion-grid>
        <ion-row>
          <ion-col>

            <ion-card>

              <ion-card-header>
                {{'Choose your preferences ! ' | customTranslate | async}}
              </ion-card-header>

              <form class="form" [formGroup]="registrationForm" (ngSubmit)="submit_form()">
                <ion-list>
                  <ion-item>
                    <ion-label>{{'Location ?' | customTranslate | async}}</ion-label>
                    <ion-select formControlName="location" value="brown" okText="OK" cancelText="Dismiss">
                      <ion-select-option value="Near"> {{'Near Me' | customTranslate | async}}</ion-select-option>
                      <ion-select-option value="Lisbon"> {{'Lisbon' | customTranslate | async}}</ion-select-option>
                      <ion-select-option value="Sintra"> {{'Sintra' | customTranslate | async}}</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <br>
                  <ion-item>
                    <ion-label>{{'How Many People?' | customTranslate | async}}</ion-label>
                    <ion-select value="brown" okText="OK" formControlName="people" cancelText="Dismiss">
                      <ion-select-option value="1"> 1</ion-select-option>
                      <ion-select-option value="2"> 2</ion-select-option>
                      <ion-select-option value="3"> 3</ion-select-option>
                      <ion-select-option value="4"> 4</ion-select-option>
                      <ion-select-option value="5"> 5</ion-select-option>
                      <ion-select-option value="6"> 6</ion-select-option>
                    </ion-select>
                  </ion-item>

                  <br>
                  <ion-button [disabled]="!registrationForm.valid" color="danger" type="submit">{{'Search Tours' |
                    customTranslate | async}}
                  </ion-button>

                  <br>
                </ion-list>
              </form>
            </ion-card>


          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>