* {
  color: black;
  font-weight: 800;
}

.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 5%;
  justify-content: center;
}

#iti_title {
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

#content-menu {
  img {
    align-self: center;
    width: 17%;
    position: relative;
    left: 29%;
  }

  #title {
    color: black;
    position: absolute;
    left: 7%;
  }
}
