.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

ion-card-content {
  p {
    color: black;
    font-weight: 800;
  }

  h3 {
    text-align: right;
    color: black;
    font-weight: 900;
  }
}
.content {
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

ion-icon {
  font-size: 900%;
}

#iti_title {
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}

#content-menu {
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    width: 39%;
  }
}
