<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Best Ride
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu">
    <h2> {{ 'Lisbon itineraries' | customTranslate | async}} </h2>
    <div scrollY="true" class="botoes">
      <ion-card *ngFor="let road of trips" (click)="showRoteiro(road)">
        <ion-card-header>
          <ion-card-subtitle>Preco : {{ road.price }} € Duracao : {{ road.duration}}</ion-card-subtitle>
          <ion-card-title>{{ road.title| customTranslate | async}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ road.description| customTranslate | async}}
          <ion-button expand="full" color="medium" color="danger"> {{'Book Tour' | customTranslate | async}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <br>
  </div>
</ion-content>