.body {
  background-color: #ffba00;
  height: 100%;
  width: 100%;
}

.content {
  width: calc(100%);
  height: calc(100%);
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

#iti_title {
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
  font-weight: bold;
}
