component-card h1 {
  font-weight: 600;
  font-size: 18px;
}

component-card p {
  color: var(--text-light);
}

component-card ion-icon {
  align-self: start;
  margin-top: 10px;
  margin-right: 29px;

  color: var(--text-lightest);
}

* {
  color: black;
  font-weight: 700;
}

#img {
  width: 15%;
  margin-left: 33%;
}

.body {
  background-color: #00adff;
  height: 100%;
  width: 100%;
}

ion-thumbnail {
  ion-icon {
    zoom: 2;
    padding-top: 20%;
    color: #00adff;
  }
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  justify-content: center;
  text-align: center;
  font-size: larger;
}

ion-button {
  color: white;
  font-weight: bolder;
}
