<ion-header>
  <ion-toolbar>
    <div class="header">
      <img id="img" src="assets/BestRideSplash.png" />
      <ion-title id="headerTitle" style="text-align: center;">BestRide
      </ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" (click)="changeInputStatus()">
      <ion-icon name="{{ icon_input }}"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <svg height="100%" width="100%">
      <circle cx="0" cy="0" r="230" fill="#BC3592" />
      <circle cx="0" cy="calc(100%)" r="230" fill="#FFBA00" />
      <circle cx="calc(100%)" cy="calc(100%)" r="230" fill="#FF3F00" />
    </svg>
    <div class="content">
      <ion-card>
        <h2 style="color: black;font-size: 25px;font-weight: bold;">User Definitions</h2>

        <form class="form">

          <ion-list lines="full">

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="person-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'Name' | customTranslate | async}}</ion-label>
              <ion-input type="text" required value="{{ user.name }}"></ion-input>
            </ion-item>


            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="business-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'City' | customTranslate | async}}</ion-label>
              <ion-input type="text" required value="{{ user.city }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="mail-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'Email' | customTranslate | async}}</ion-label>
              <ion-input type="email" required value="{{ user.email }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="call-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'Phone Number' | customTranslate | async}}</ion-label>
              <ion-input type="Number" required value="{{ user.phone }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="home-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'Street address' | customTranslate | async}}</ion-label>
              <ion-input type="text" required value="{{ user.address }}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon name="home-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label position="stacked">{{ 'Postal Code' | customTranslate | async}}</ion-label>
              <ion-input type="text" required value="{{ user.postal }}"></ion-input>
            </ion-item>

            <br>
            <ion-button expand="block">{{'Update Account' | customTranslate | async}}</ion-button>
            <br>
            <ion-button expand="block">{{'Change Password' | customTranslate | async}}</ion-button>
            <br>
            <ion-button expand="block" (click)="deleteAccount()">{{'Delete Account' | customTranslate | async}}
            </ion-button>

          </ion-list>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>