<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;"> {{'User Definitions' | customTranslate | async}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" (click)="changeInputStatus()">
      <ion-icon name="{{ icon_input }}"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="name"> {{'Name' | customTranslate | async}}</h1>
        <ion-input disabled="{{control_input}}" clearInput="true" id="email2" [(ngModel)]="name" value="{{name}}">
        </ion-input>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="city"> {{'City' | customTranslate | async}}</h1>
        <ion-input clearInput="true" disabled="{{control_input}}" id="email" [(ngModel)]="city" value="{{city}}">
        </ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        <h1 id="city">Email</h1>
        <ion-input clearInput="true" disabled="{{control_input}}" id="email" [(ngModel)]="email" value="{{email}}">
        </ion-input>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        <h1 id="email"> {{'Phone number' | customTranslate | async}}</h1>
        <ion-input clearInput="true" disabled="{{control_input}}" readonly="{{control_input}}" id="email"
          [(ngModel)]="phone" value="{{phone}}"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label>
        <h1> {{'Address' | customTranslate | async}}</h1>
        <ion-input clearInput="true" disabled="{{control_input}}" readonly="{{control_input}}" id="email"
          [(ngModel)]="address" value="{{address}}"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="car-sport-outline" slot="start"></ion-icon>
      <ion-label>
        <h1> {{'Postal Code' | customTranslate | async}}</h1>
        <ion-input clearInput="true" disabled="{{control_input}}" readonly="{{control_input}}" id="email"
          [(ngModel)]="postal" value="{{postal}}" readonly="true">
        </ion-input>
      </ion-label>
    </ion-item>


    <ion-button color="secondary" expand="full" (click)="alterarCampos()" disabled="{{ control_input }}">
      <h4> {{'Update Account' | customTranslate | async}}</h4>
    </ion-button>


    <ion-button expand="full" (click)="alterarPass()">
      <h4> {{'Change Password' | customTranslate | async}}</h4>
    </ion-button>
    <ion-button expand="block" color="danger" (click)="eliminarConta()">
      Eliminar Conta
    </ion-button>
  </ion-list>
</ion-content>